<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resultado de la prediccion</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous">
</script>
<div class="bg-success p-2 text-white bg-opacity-75">
    <h1> Evaluación de los modelos de predicción</h1>
</div>

<div class="bg-success p-2 text-dark bg-opacity-25">
    <div class="text-center p">
        <a href="/" class="btn btn-primary enabled" tabindex="-1" role="button" aria-disabled="false">Volver</a>
    </div>
</div>


<div>

    <table class="table table-bordered">

        <thead class="table-light">
        <tr class="table-warning">
            <th scope="col"></th>
            <th scope="col">Árbol de decisión</th>
            <th scope="col">Regresión logística</th>
            <th scope="col">K-Nearest Neighbours</th>
            <th scope="col">Gaussian Naïve Bayes Algorithm</th>
            <th scope="col">Random Forest Algorithm</th>
        </tr>
        </thead>

        <tbody>

            <tr>

                <td  class="table-info">Riesgo de recaída</td>
                <td th:text="${arbol_prediccion}"></td>
                <td th:text="${rl_prediccion}"></td>
                <td th:text="${kn_prediccion}"></td>
                <td th:text="${nb_prediccion}"></td>
                <td th:text="${rf_prediccion}"></td>
            </tr>

            <tr>
                <td  class="table-info">Probabilidad de acierto</td>
                <td th:text="${arbol_probacierto}"></td>
                <td th:text="${rl_probacierto}"></td>
                <td th:text="${kn_probacierto}"></td>
                <td th:text="${nb_probacierto}"></td>
                <td th:text="${rf_probacierto}"></td>
            </tr>

            <tr>
                <td  class="table-info">Precisión</td>
                <td th:text="${arbol_precision}"></td>
                <td th:text="${rl_precision}"></td>
                <td th:text="${kn_precision}"></td>
                <td th:text="${nb_precision}"></td>
                <td th:text="${rf_precision}"></td>
            </tr>


            <tr>
                <td  class="table-info">Precisión media de los datos</td>
                <td th:text="${arbol_precisionmedia}"></td>
                <td th:text="${rl_precisionmedia}"></td>
                <td th:text="${kn_precisionmedia}"></td>
                <td th:text="${nb_precisionmedia}"></td>
                <td th:text="${rf_precisionmedia}"></td>
            </tr>

            <tr>
                <td  class="table-info">Media</td>
                <td th:text="${arbol_media}"></td>
                <td th:text="${rl_media}"></td>
                <td th:text="${kn_media}"></td>
                <td th:text="${nb_media}"></td>
                <td th:text="${rf_media}"></td>
            </tr>

            <tr>
                <td  class="table-info">Desviación típica</td>
                <td th:text="${arbol_sdt}"></td>
                <td th:text="${rl_sdt}"></td>
                <td th:text="${kn_sdt}"></td>
                <td th:text="${nb_sdt}"></td>
                <td th:text="${rf_sdt}"></td>
            </tr>



        </tbody>
    </table>



</div>
</body>
</html>